.play-music {
  display: flex;
  /* position: absolute; */
  /* bottom: 50px; */
  /* left: 50px; */
  z-index: 50;
}

.music-animation {
  display: flex;
  margin-right: 10px;
  align-items: flex-end;
  position: relative;
  top: -5px;
}
.music-animation.on .bar {
  animation: bar 1.2s infinite;
}
.music-animation.on .bar2 {
  animation-delay: 0.1s;
}
.music-animation.on .bar3 {
  animation-delay: 0.2s;
}
.music-animation.on .bar4 {
  animation-delay: 0.3s;
}
.music-animation.on .bar5 {
  animation-delay: 0.4s;
}

.music-toggle {
  cursor: pointer;
  font-size: 20px;
  position: relative;
}
.music-toggle:after {
  content: "";
  display: block;
  height: 1px;
  width: 0;
  background-color: #000;
  position: absolute;
  transition: 0.2s;
}
.music-toggle:hover:after {
  width: 100%;
}

.bar {
  width: 1px;
  background-color: #000;
  height: 2px;
  display: block;
  margin: 0 1px;
}

@keyframes bar {
  0% {
    height: 4px;
  }
  50% {
    height: 14px;
  }
  100% {
    height: 4px;
  }
}